<form method="POST" class="character-create">

  <h2>Choose A Name</h2>
  <input type="" class="name-create col-6" name="name">
  </select>

  <h2>Choose Your Race</h2>
  <select class='race-create col-6' name="race" id="race-dropdown">
  </select>

  <h2>Select Your Class</h2>
  <select class='class-create col-6' name="class" id="class-dropdown"></select>

  <h2>Master Your Arcane Arts</h2>
  <select class='spells-create col-6' name="spells" id="spells-dropdown"></select>

  <h2>Align Your Destiny</h2>
  <select class='alignment-create col-6' name="alignments" id="alignments-dropdown"></select>

  <h2>Arm Yourself</h2>
  <select class='equipment-create col-6' name="equipments" id="equipments-dropdown"></select>
  </select>

  
  <div>
    
    <button class="btn" type="submit" value="Create Character">Create Character</button>

  </div>
  <script src="/js/dropdown.js"></script>
</form>