<form action="/create-character" method="POST">

  <h2>Choose Your Race</h2>
  <select name="race" id="race-dropdown">
  </select>

  <h2>Select Your Class</h2>
  <select name="class" id="class-dropdown"></select>

  <h2>Master Your Arcane Arts</h2>
  <select name="spells" id="spells-dropdown"></select>

  <h2>Align Your Destiny</h2>
  <select name="alignments" id="alignments-dropdown"></select>

  <h2>Arm Yourself</h2>
  <select name="equipments" id="equipments-dropdown"></select>
  </select>

  <script src="/js/dropdown.js"></script>
  <input class="btn" type="submit" value="Create Character">
</form>
