<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeons N Dragons Character Creator</title>
    <link rel="icon" type="image/jpg"
        href="https://mtgproshop.com/wp-content/uploads/2021/01/PFDD001-Ampersand-Pin.jpg">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
        
    <link rel="stylesheet" href="css/jass.css">

</head>

<body>

    <header>
        <h1 class="head">Dungeons and Dragons🐉</h1>
    </header>

    <nav id="nav">
    <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Resource Links
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://www.dndbeyond.com/">D & D Beyond</a></li>
                <li><a class="dropdown-item" href="https://top.gg/servers/tag/dnd">D & D Discord Servers</a></li>
                <li><a class="dropdown-item" href="https://media.wizards.com/2018/dnd/downloads/DnD_BasicRules_2018.pdf">D & D Basic Rules</a></li>
                <li><a class="dropdown-item" href="https://www.dndbeyond.com/posts/1452-how-to-be-a-dungeon-master">How to be A Dungeon Master</a></li>
                <li><a class="dropdown-item" href="https://www.dndbeyond.com/posts/1026-common-terms-new-dungeons-dragons-players-should">D & D Dictionary</a></li>
                <li><a class="dropdown-item" href="https://www.dndbeyond.com/how-to-play-dnd">How to Play D & D</a></li>
            </ul>
        </div>
</div>
        {{#if loggedIn}}
        <button id="logout" class="btn">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <main>


        <div>
            
            {{{body}}}
        </div>

    </main>
    {{#if loggedIn}}
    
    <script src="js/createCharacter.js"></script>
    <script src="js/logout.js"></script>
    {{else}}
    <script src="js/login.js"></script>

    {{/if}}









<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">


</html>