<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeons N Dragons Character Creator</title>
    <link rel="stylesheet" href="../../public/css/jass.css">


</head>

<body>

    <header>
        <h1>DND🐉</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <main>

        
        <div>
            {{{body}}}
        </div>

    </main>
    {{#if loggedIn}}
  <script src="../../public/logout.js"></script>
  {{/if}}
</body>

</html>
