<div class="create">
    {{> characterCreate}}
</div>

<div class="char">
{{> characters}}
</div>

h1>Homepage</h1>

<a href="/character-create" class="btn">Create a New Character</a>

<h2>D&D Resource Links</h2>
<ul>
  <li><a href="https://www.dndbeyond.com/">D&D Beyond</a></li>
  <li><a href="https://www.dnd5eapi.co/">D&D 5e API</a></li>
